<h3> Bonus Time File Vulnerabilites</h3>
 <p>
	If you haven’t cracked through the hidden pages yet, do that first!

	Oh you did?  Wonderful, looks like you’ve stumbled onto a hidden developers portal, and it looks like there is a file upload page
 </p>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("fu_plugin_name") %> > What Audit plugin can you use to test if they are any file upload vulnerabilites? [<%= @points["fu_plugin_name"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="fu_plugin_name">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
 <ul>
 <li>Point the plugin at the target site and run it
 </ul>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("fu_relative_path") %> > 
What is the folder to which files are uploaded to on this server (relative path based on root of webpage)? [<%= @points["fu_relative_path"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="fu_relative_path">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
<p>
Well, you have a vulnerability, can you attack it with w3af and get a shell?
</p>
<p>
Didn’t think so, this website has some defense against w3af, but if you got to this point, you also know that you can get to the uploaded files and run them on the browser.  Now this is the hard part...
</p>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("fu_flag") %> > Get a shell onto the computer using this vulnerability, and give us the flag located in the motd (HINT: Try to use Prof. Trachtenberg’s preferred way for transferring files to backtrack from the host!) [<%= @points["fu_flag"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="fu_flag">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
