<h3>Exploiting the Server Side Include</h3>
 <p>
Now that you know how w3af works, use it to figure out which file is vulnerable to SSI injections.  This should be easy enough, w3af does everything for you!
 </p>
 <ul>
 <li>Point W3AF to the page <a href="<%=@site%>"><%=@site%></a></li>
 <li>Enable the <em>ssi</em> plugin from the 'audit' plugs  and  <em>webspider</em> in the 'discovery' plugins</li>
 <li>Click Start</li>
 </ul>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("ssi_filename") %> > What file is vulnerable to server side inclusion [<%= @points["ssi_filename"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="ssi_filename">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
<p> Head over to the <a href="<%= @site %>/form.shtml">form.shtml</a> and try displaying the contents of an ssi enabled file. You can do this by injecting an SSI command in the input area
</p>
<ul>
<li>
	SSI supports a variety of <a href="http://www.w3.org/Jigsaw/Doc/User/SSI.html#exec">commands</a> that will help you answer the next two question. 
</li>
<li>
	Try Entering some SSI commands in the form to list the different sites that are available to you.
</li>
<li>
	Use the include directive (for ssi) on one of these sites to find the secret location.
</li>
</ul>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("ssi_secret_location") %> > What is the secret location? [<%= @points["ssi_secret_location"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="ssi_secret_location">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
<p>
So you found the file that contains the secret location...or so you think.  Remember that SSI is mainly used to include files in an html page.  
</p>
<ul>
<li>
	Now you have the name of secret location. Lets see if you can use that your advantage.
</li>
</ul>
<blockquote <%= "style='border-left-color:palegreen;'" if @completed.include?("ssi_real_filename") %> > What file actually contains the secret location?  [<%= @points["ssi_real_filename"] %>]
	<form method="post" action="/answer">
		<input type="hidden" name="question" value="ssi_real_filename">
		<input type="text" name="answer">
		<button type="submit" class="btn btn-danger" >Submit</button>
	</form>
</blockquote>
