<!DOCTYPE HTML>
<html lang="en">
  <%= erb :_head %>   
  
  <script type="text/javascript">
  $(function () {
     var activeTab = $('[href=' + location.hash + ']');
	    activeTab && activeTab.tab('show');
		});
  </script>
  
  <!-- Top RED BAR -->
  <body>
	<%= erb :_top_bar%>   

  	<!-- Name  -->
	<div class="container spaced">
      <div class="row-fluid">
            <span class="span7 offset1">
      
			
      <h1 class="title">W3AF CHALLENGE</h1>
			<br/>
      <% if @user.nil? %>
			<p class="instruction">Just Enter Your Twiki Username</p>
			<form method="get" action="/login">
			<input type="text" class="input-large username"  name="name" 
       style="text-align:center; 
              height:30px; 
              font-size:18pt; 
              padding:0px; 
              width: 100%;">
			<br/><input type="submit" class="btn btn-1" value="GET STARTED">
			</form>
			<% else %>
			<!--<p class="instruction">This is your <a href=<%= @site %> style="text-decoration:none; color:RED;">Target</a><p/>-->
			<p class="instruction" style="font-size:20px;">Your Logged In As<p/>
      		<h1 class="name" style="margin:20px 0;"><%= @user.name %></h1>
			<p class="instruction"><a class='instruction' href="/logout" >logout</a></p>
        	<% end %>
      
			  <!-- Pass along message if there is one --> 
			  <% if !@message.nil?%>
			  <br/>
			  <div class="alert pagination-centered" style="margin:0px;">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<strong><%= @message %></strong> 
				</div>  
			  <% end %>
			</span>
			<span class="span3 offset1">
        <a href="https://docs.google.com/document/d/1RkUahhYicJSKCa2qQIjsJPl5rHXEQO1Y61H31o8t6kE/edit" class="btn btn-1" style="background-color:#ff7f00;">Detailed Tutorial</a>
        <br/><br/>
		<a href="/slides" class="btn btn-1" style="background-color:black;">Slides</a>
				<% if @user.nil? %>
				<br/><br/>
				<a href="#instructions" role="button" data-toggle="modal" class="btn btn-1" style="background-color:goldenrod;">What Is This?</a>
				<% end %>	
			<br/><br/>
        <a class="btn btn-1" style="background-color:maroon;" href="<%=@site%>">Target Site</a>
			<% if @user %><%= erb :_user_score %> <% end %>
			</span>
	  </div>
    </div>
	  
    <!-- Content Section -->
    <div id="content" class="container-fluid container-fluid-1 padded">
      <div class="row-fluid">
        <span class="span10 offset1">
         <ul id="myTab" class="nav nav-tabs">
           <li class="active">
              <a href="#server_side_include" class="instruction" data-toggle="tab">Server Side Include.</a>
           </li>
           <li class>
              <a href="#sqli" class="instruction" data-toggle="tab">SQLI.</a>
            </li>
           <li class>
              <a href="#xss" class="instruction" data-toggle="tab">XSS.</a>
            </li>
           <li class>
            <a href="#hidden_files" class="instruction" data-toggle="tab">Hidden Files.</a>
            </li>
           <li class>
              <a href="#fileupload" class="instruction" data-toggle="tab">File Upload.</a>
            </li>
         </ul>
           <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in challenge" id="server_side_include">
			<%= erb :_server_side_include %>
			</div>
            <div class="tab-pane fade  challenge" id="sqli">
			<%= erb :_sqli %>
			</div>
            <div class="tab-pane fade challenge" id="xss">
			<%= erb :_xss %>
            </div>
            <div class="tab-pane fade challenge" id="fileupload">
			<%= erb :_file_upload %>
            </div>
            <div class="tab-pane fade challenge" id="hidden_files">
			<%= erb :_hidden_files %>
            </div>
          </div>
        </span>
      </div>
    </div>
	<%= erb :_scoreboard %>
    <div class="container-fluid container-fluid-2">
      <div class="row-fluid">
        <span class="span12">
          <img class="image-1  pull-right" src="logo.png" height="50" width="100">
          <p>Raphael Landaverde, Ben Duong, Jeff Crowell, Richard Tia, Samir Ahmed</p>
        </span>
      </div>
    </div>
	<div id="instructions" class="modal hide fade">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>What is the W3AF Challenge</h3>
	  </div>
	  <div class="modal-body">
		<p>Welcome to the W3AF Challenge</p>
		<p>This is a competition site for EC521 Team 2 Cybersecurity end of semester project</p>
		<p>The Competition takes place December 11th 2012. If you are a participant you can just being by entering your twiki name. If you are not a participant well then there isn't very much that you can do here.</p>
	  </div>
	  <div class="modal-footer">
		<a href="/" class="btn btn-warning">Lets Go!</a>
	  </div>
	</div>
  </body>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</html>
